{
  "components": [
    {
      "name": "lite6",
      "api": "rdk:component:arm",
      "model": "viam:ufactory:lite6",
      "attributes": {
        "port": 502,
        "speed_degs_per_sec": 10,
        "host": "192.168.1.152"
      },
      "frame": {
        "parent": "world",
        "translation": {
          "x": 0,
          "y": 0,
          "z": 0
        },
        "orientation": {
          "type": "ov_degrees",
          "value": {
            "x": 0,
            "y": 0,
            "z": 1,
            "th": 0
          }
        }
      }
    },
    {
      "name": "lite-gripper",
      "api": "rdk:component:gripper",
      "model": "viam:ufactory:gripper_lite",
      "attributes": {
        "arm": "lite6"
      }
    },
    {
      "name": "realsense",
      "api": "rdk:component:camera",
      "model": "viam:camera:realsense",
      "attributes": {
        "serial_number": "348522076372",
        "sensors": [
          "color",
          "depth"
        ]
      },
      "frame": {
        "parent": "world",
        "translation": {
          "x": 0,
          "y": 0,
          "z": 0
        },
        "orientation": {
          "type": "ov_degrees",
          "value": {
            "x": 0,
            "y": 0,
            "z": 1,
            "th": 0
          }
        }
      }
    },
    {
      "name": "webcam",
      "api": "rdk:component:camera",
      "model": "rdk:builtin:webcam",
      "attributes": {
        "height_px": 1080,
        "video_path": "video0",
        "width_px": 1920,
        "format": "MJPEG",
        "frame_rate": 30
      }
    }
  ],
  "modules": [
    {
      "type": "registry",
      "name": "viam_ufactory",
      "module_id": "viam:ufactory",
      "version": "latest"
    },
    {
      "type": "registry",
      "name": "viam_realsense",
      "module_id": "viam:realsense",
      "version": "latest"
    }
  ]
}
